{% extends "auth/layout.html" %}
{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-5">Login</h3>
			<form method="post" action="" autocomplete="off">
				{{ form.hidden_tag() }}
	            <div class="form-outline mb-4">
					{{ form.email.label(class="form-control-label") }}

					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
	            </div>

	            <div class="form-outline mb-4">
					{{ form.password.label(class="form-control-label") }}

					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
	            </div>

	            {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}